body {
    font-family: "Brush Script MT", "Times New Roman", serif;
    background: fixed;
}
h1 {
    text-align: center;
    border: 2px solid#a3e4a6;
    background: #7ffa89;
    width: 240px;
}
.bnut,
.chili,
.shwarma {
    margin: 8px;
    padding: 8px;
    width: 120px;
}
.bnut {
    background-color: #ffffb4;
  
}
.shwarma {
    background-color: #9be99b;
   
}
.chili {
    background-color: #ffc8c8;
  
}
.recipe {
    text-align: left;
}